/* ===================================== Import Variables ================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic SCSS ==================================== */

// a:hover,
// a:focus,
// input,
// textarea {
//   text-decoration: none;
//   outline: none; 
// }

.form-02-main{
  background:url(../../../assets/background_login.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  z-index:2;
  overflow:hidden;
  font-family: "Open Sans";

  ._lk_de{
    background-repeat:no-repeat;
    background-size:cover;
    padding:40px 0px;
    position:relative;

    .form-03-main{
      width:500px;
      display:block;
      margin:20px auto;
      padding:25px 50px 25px;
      background:rgba(255,255,255,0.6);
      border-radius:6px;
      z-index:9;

      .logo{
        display:block;
        margin:20px auto;
        width:100px;
        height:100px;
        img {
          max-width: 100%; 
        }
      }

      .form-group{
        padding:20px 0px;
        display:inline-block;
        width:100%;
        position:relative;

        .form-control{
          min-height:45px;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 10px 15px;
          border-radius:20px;
          border:1px solid#2b3990;
          &:focus{
            outline:none;
            border-color: aqua;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }

        ._btn_04 {
          display: inline-block;
          width: 100%;
          padding: 12px 0px;
          background: #2b3990;
          border-radius: 20px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          cursor: pointer;
          &:hover{
            background-color: rgb(50, 68, 235);
          }

          a{
            text-decoration: none;
            font-size:15px;
            color:#fff;
          }

          .loaderIcon{
            margin-right: 7px;
            top: 2px;
            animation: spin 1s infinite linear;
          }
          @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
          }

          &:disabled{
            background: #5d6fe7;
            color: #fff;
            cursor: no-drop;
          }
        }

        ._btn_05 {
          display: inline-block;
          width: 150px;
          padding: 5px 5px 5px 5px;
          background: #2b907f;
          border-radius: 20px;
          text-align: center;
          font-size: 15px;
          color: #fff;
          &:hover{
            background-color: #40c9b2;
          }
        }

        .icon-showpassword{
          cursor: pointer;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        .back{
          cursor: pointer;
        }
      }

      .checkbox{
        display:flex;
        justify-content:space-around;
        a {
            outline: none;
            text-decoration: none;
            color: #444; 
          }
      }
    }
  }
}